body{
    margin:10px 40x;
    background-color: rgb(0, 0, 0);
    padding: 40px 80px;
}

p{
    color: #ffffff;
    font-size: 24px;

}
/*Titulo 1 */
.titulocontenedor1 {
    text-align: center;
}
.titulo1 {
    font-size: 30px;
    color: #ffffff;
    border-bottom: 2px solid #a20000;
    padding-bottom: 0.2rem;
    display: inline-block;
}
/*Titulo 2 */
.titulocontenedor2 {
    text-align: center;
}
.titulo2 {
    font-size: 30px;
    color: #ffffff;
    border-bottom: 2px solid #a20000;
    padding-bottom: 0.2rem;
    display: inline-block;
}

h3 {
    font-size: 24px;
    color: #ffffff;
}

/*Titulo 3 */
.titulocontenedor3 {
    text-align: center;
}
.titulo3 {
    font-size: 30px;
    color: #ffffff;
    border-bottom: 2px solid #a20000;
    padding-bottom: 0.2rem;
    display: inline-block;
}

.grid-columns {
        display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto 2rem auto; /* top=0, bottom=2rem */
    padding: 1rem;
}

.column h5 {
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #a20000;
    display: inline-block;
    padding-bottom: 0.2rem;
}

.column ul {
    list-style: disc inside; /* puntos visibles */
    padding: 0;
    margin: 0;
}

.column ul li {
    padding: 0.5rem 0;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.column ul li::marker {
    color: #a20000; /* punto naranja */
}

.titulocontenedor6 {
    text-align: center;
}
.titulo6 {
    font-size: 30px;
    color: #ffffff;
    border-bottom: 2px solid #a20000;
    padding-bottom: 0.2rem;
    display: inline-block;
}

.Graficos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.Graficos figure {
  flex: 0 0 680px;
  max-width: 45%;
  margin: 0;
  text-align: center;
}

.Graficos img {
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  display: block;
  margin: 0;
  object-fit: cover;
}

.Graficos figcaption {
  color: #ccc;
  font-size: 1.1em;
  margin-top: 8px;
}

h7, h8, h9, h10, h11 {
   font-size: 32px;
    color: #ffffff;
}

.TouchDesigner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.TouchDesigner figure {
  flex: 0 0 680px;
  max-width: 45%;
  margin: 0;
  text-align: center;
}

.TouchDesigner img {
  width: 100%;
  max-width: 680px;
  border-radius: 5px;
  display: block;
  margin: 0;
  object-fit: cover;
}

.TouchDesigner figcaption {
  color: #ccc;
  font-size: 0.9em;
  margin-top: 8px;
}

.IA {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.IA figure {
  flex: 0 0 680px;
  max-width: 45%;
  margin: 0;
  text-align: center;
}

.IA img {
  width: 100%;
  max-width: 680px;
  border-radius: 5px;
  display: block;
  margin: 0;
  object-fit: cover;
}

.IA figcaption {
  color: #ccc;
  font-size: 0.9em;
  margin-top: 8px;
}

.Edición {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.Edición figure {
  flex: 0 0 680px;
  max-width: 45%;
  margin: 0;
  text-align: center;
}

.Edición img {
  width: 100%;
  max-width: 680px;
  border-radius: 5px;
  display: block;
  margin: 0;
  object-fit: cover;
}

.Edición figcaption {
  color: #ccc;
  font-size: 0.9em;
  margin-top: 8px;
}